table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 2px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #A9CCE3;
  color: #154360  ;
  border-width: 2px;
}